<!DOCTYPE html>
<html>
<title>Docker test page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/w3.css">
<body>

<div class="w3-card-4" style="width:50%;">

    <header class="w3-container w3-light-gray">
        <h1>Hello there, {% if neptun %}{{ neptun }}{% else %}<i>unknown</i>{% endif %}!</h1>
    </header>

    <div class="w3-container">
        <p><b>Hostname:</b> {{ hostname }}</p>
    </div>

    <div class="w3-container">
        <p><b>Visits:</b> {% if visits %}{{ visits }}{% else %}<i>cannot connect to Redis, counter disabled</i>{% endif %}</p>
    </div>

    {% if visits %}

    <footer class="w3-container w3-display-container w3-animate-opacity w3-green">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-display-right"><b>×</b></span>
        <h5><b>Redis</b> is ready and available!</h5>
    </footer>

    {% else %}

    <footer class="w3-container w3-display-container w3-animate-opacity w3-red">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-display-right"><b>×</b></span>
        <h5>It seems <b>Redis</b> is not available <i>yet</i>...</h5>
    </footer>

    {% endif %}

</div>

</body>
</html>
